<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        homepage
      </h1>

    </header>

    <main>

    <h1>
      random records:  
    </h1>

<div><strong>imdb_id1</strong>: <a href="/movie/<%=imdb_id1%>"><%=imdb_id1%></a></div>
<div><strong>color1</strong>: <%=color1%></div>
<div><strong>director_name1</strong>: <%=director_name1%></div>
<div><strong>num_critic_for_reviews1</strong>: <%=num_critic_for_reviews1%></div>
<div><strong>duration1</strong>: <%=duration1%></div>
<div><strong>director_facebook_likes1</strong>: <%=director_facebook_likes1%></div>
<div><strong>actor_3_facebook_likes1</strong>: <%=actor_3_facebook_likes1%></div>
<div><strong>actor_2_name1</strong>: <%=actor_2_name1%></div>
<div><strong>actor_1_facebook_likes1</strong>: <%=actor_1_facebook_likes1%></div>
<div><strong>gross1</strong>: <%=gross1%></div>
<div><strong>genres1</strong>: <%=genres1%></div>
<div><strong>actor_1_name1</strong>: <%=actor_1_name1%></div>
<div><strong>movie_title1</strong>: <%=movie_title1%></div>
<div><strong>num_voted_users1</strong>: <%=num_voted_users1%></div>
<div><strong>cast_total_facebook_likes1</strong>: <%=cast_total_facebook_likes1%></div>
<div><strong>actor_3_name1</strong>: <%=actor_3_name1%></div>
<div><strong>facenumber_in_poster1</strong>: <%=facenumber_in_poster1%></div>
<div><strong>plot_keywords1</strong>: <%=plot_keywords1%></div>
<div><strong>movie_imdb_link1</strong>: <%=movie_imdb_link1%></div>
<div><strong>num_user_for_reviews1</strong>: <%=num_user_for_reviews1%></div>
<div><strong>language1</strong>: <%=language1%></div>
<div><strong>country1</strong>: <%=country1%></div>
<div><strong>content_rating1</strong>: <%=content_rating1%></div>
<div><strong>budget1</strong>: <%=budget1%></div>
<div><strong>title_year1</strong>: <%=title_year1%></div>
<div><strong>actor_2_facebook_likes1</strong>: <%=actor_2_facebook_likes1%></div>
<div><strong>imdb_score1</strong>: <%=imdb_score1%></div>
<div><strong>aspect_ratio1</strong>: <%=aspect_ratio1%></div>
<div><strong>movie_facebook_likes1</strong>: <%=movie_facebook_likes1%></div>
<div><strong>poster1</strong>: <%=poster1%></div>

<br/>
<div><strong>imdb_id2</strong>: <%=imdb_id2%></div>
<div><strong>color2</strong>: <%=color2%></div>
<div><strong>director_name2</strong>: <%=director_name2%></div>
<div><strong>num_critic_for_reviews2</strong>: <%=num_critic_for_reviews2%></div>
<div><strong>duration2</strong>: <%=duration2%></div>
<div><strong>director_facebook_likes2</strong>: <%=director_facebook_likes2%></div>
<div><strong>actor_3_facebook_likes2</strong>: <%=actor_3_facebook_likes2%></div>
<div><strong>actor_2_name2</strong>: <%=actor_2_name2%></div>
<div><strong>actor_1_facebook_likes2</strong>: <%=actor_1_facebook_likes2%></div>
<div><strong>gross2</strong>: <%=gross2%></div>
<div><strong>genres2</strong>: <%=genres2%></div>
<div><strong>actor_1_name2</strong>: <%=actor_1_name2%></div>
<div><strong>movie_title2</strong>: <%=movie_title2%></div>
<div><strong>num_voted_users2</strong>: <%=num_voted_users2%></div>
<div><strong>cast_total_facebook_likes2</strong>: <%=cast_total_facebook_likes2%></div>
<div><strong>actor_3_name2</strong>: <%=actor_3_name2%></div>
<div><strong>facenumber_in_poster2</strong>: <%=facenumber_in_poster2%></div>
<div><strong>plot_keywords2</strong>: <%=plot_keywords2%></div>
<div><strong>movie_imdb_link2</strong>: <%=movie_imdb_link2%></div>
<div><strong>num_user_for_reviews2</strong>: <%=num_user_for_reviews2%></div>
<div><strong>language2</strong>: <%=language2%></div>
<div><strong>country2</strong>: <%=country2%></div>
<div><strong>content_rating2</strong>: <%=content_rating2%></div>
<div><strong>budget2</strong>: <%=budget2%></div>
<div><strong>title_year2</strong>: <%=title_year2%></div>
<div><strong>actor_2_facebook_likes2</strong>: <%=actor_2_facebook_likes2%></div>
<div><strong>imdb_score2</strong>: <%=imdb_score2%></div>
<div><strong>aspect_ratio2</strong>: <%=aspect_ratio2%></div>
<div><strong>movie_facebook_likes2</strong>: <%=movie_facebook_likes2%></div>
<div><strong>poster2</strong>: <%=poster2%></div>
      
<br/>
<div><strong>imdb_id3</strong>: <%=imdb_id3%></div>
<div><strong>color3</strong>: <%=color3%></div>
<div><strong>director_name3</strong>: <%=director_name3%></div>
<div><strong>num_critic_for_reviews3</strong>: <%=num_critic_for_reviews3%></div>
<div><strong>duration3</strong>: <%=duration3%></div>
<div><strong>director_facebook_likes3</strong>: <%=director_facebook_likes3%></div>
<div><strong>actor_3_facebook_likes3</strong>: <%=actor_3_facebook_likes3%></div>
<div><strong>actor_2_name3</strong>: <%=actor_2_name3%></div>
<div><strong>actor_1_facebook_likes3</strong>: <%=actor_1_facebook_likes3%></div>
<div><strong>gross3</strong>: <%=gross3%></div>
<div><strong>genres3</strong>: <%=genres3%></div>
<div><strong>actor_1_name3</strong>: <%=actor_1_name3%></div>
<div><strong>movie_title3</strong>: <%=movie_title3%></div>
<div><strong>num_voted_users3</strong>: <%=num_voted_users3%></div>
<div><strong>cast_total_facebook_likes3</strong>: <%=cast_total_facebook_likes3%></div>
<div><strong>actor_3_name3</strong>: <%=actor_3_name3%></div>
<div><strong>facenumber_in_poster3</strong>: <%=facenumber_in_poster3%></div>
<div><strong>plot_keywords3</strong>: <%=plot_keywords3%></div>
<div><strong>movie_imdb_link3</strong>: <%=movie_imdb_link3%></div>
<div><strong>num_user_for_reviews3</strong>: <%=num_user_for_reviews3%></div>
<div><strong>language3</strong>: <%=language3%></div>
<div><strong>country3</strong>: <%=country3%></div>
<div><strong>content_rating3</strong>: <%=content_rating3%></div>
<div><strong>budget3</strong>: <%=budget3%></div>
<div><strong>title_year3</strong>: <%=title_year3%></div>
<div><strong>actor_2_facebook_likes3</strong>: <%=actor_2_facebook_likes3%></div>
<div><strong>imdb_score3</strong>: <%=imdb_score3%></div>
<div><strong>aspect_ratio3</strong>: <%=aspect_ratio3%></div>
<div><strong>movie_facebook_likes3</strong>: <%=movie_facebook_likes3%></div>
<div><strong>poster3</strong>: <%=poster3%></div>

      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
